/*
 * Author: Daniel Peters
 * HTML5 Boilerplate
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, button, input, select, textarea { color: #222; }
html { overflow-y: scroll; height: 100%; }
body { min-height: 100%; font-size: 1em; line-height: 1.4; background: black url(../img/bg.png) repeat; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a, a:active, a:focus { outline: 0; outline: none; border: none; ie-dummy: expression(this.hideFocus=true); }

img { max-width: 100%; }

#shell { width: 160px; max-width: 1920px; background: white; margin: 0 auto; padding: 47px 0 0; text-align: center; position: relative; }

header[role="banner"] { background: rgba(19, 20, 21, 0.98); position: fixed; top: 0; left: 0; width: 100%; z-index: 9999; }
header[role="banner"] h1 { float: left; margin: 0; font-weight: bold; font-size: 14px; text-transform: uppercase; }
header[role="banner"] h1 a { line-height: 23px; display: block; padding: 12px; color: #fff; text-decoration: none; }
header[role="banner"] .navi { float: right; margin: 0; font-weight: bold; font-size: 14px; text-transform: uppercase; display: block; padding: 12px; line-height: 23px; color: #fff; text-decoration: none; }

nav[role="sitenav"] { background: #000; background: rgba(19, 20, 21, 0.8); text-align: center; width: 100%; position: fixed; top: -100%; left: 0; z-index: 999; -webkit-transition: 0.5s; -moz-transition: 0.5s; transition: 0.5s; list-style: none; margin: 0; padding: 1px; }
nav[role="sitenav"] ul { margin: 0; padding: 0; }
nav[role="sitenav"].show { top: 47px; }
.filterItem { padding: 1px; text-align: left; }
.filterItem > a { line-height: 23px; position: relative; display: block; padding: 10px 40px 10px 10px; font-weight: bold; color: #fff; text-decoration: none; -webkit-transition: 0.5s; -moz-transition: 0.5s; transition: 0.5s; }
.filterItem > a:hover { background: rgba(0, 173, 226, 0.4); }
.filterItem > a.active { background: rgba(0, 173, 226, 1); }
.filterItem > a > i { background: url(../img/icon.filter.png) no-repeat right bottom; display: block; width: 23px; height: 23px; position: absolute; top: 10px; right: 10px; }
.filterItem > a.active > i { background-position: right top; }

#shell > aside { display: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px 10px 10px 0; float: right; width: 300px; text-align: left; }
#shell > aside > section { margin-bottom: 10px; }
#shell > aside > section h1 { color: #fff; margin: 0; padding: 5px 20px; background: rgba(0, 173, 226, 1); font-size: 20px; text-transform: uppercase; }
#shell > aside > section .promo { margin-top: 5px; min-height: 97px; background: black; }
#shell > aside > section .promo p { margin: 0; padding: 65px 10px 10px; color: #fff; font-weight: bold; font-size: 16px; text-transform: uppercase; }
#content { padding: 0 0 20px; }
#content > a.button { display: inline-block; padding: 10px; }


/**** Messages ****/

#msg { margin: 0 auto; }
    #msg a { color: blue; text-decoration: none; }


/**** Lightbox ****/

.lightbox { background: #000; background: rgba(0, 0, 0, 0.90); position: absolute; top: -1000%; left: 0; z-index: 999; width: 100%; text-align: center; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; }
.lightbox.show { display: block; top: 0; }
.lightbox .lightbox-close { float: right; background: url(../img/icon.close.png) no-repeat right bottom; margin: 0; display: none; width: 23px; height: 23px; position: absolute; top: 57px; right: 5px; text-indent: -9999px; overflow: hidden; cursor: pointer; cursor: pointer; z-index: 99; }
.lightbox.show .lightbox-close { display: block; }
.lightbox-content { margin: 0 auto; max-width: 1210px; display: block; background: #fff; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; position: relative; }
.lightbox-content > div { padding: 67px 30px 40px; text-align: left; position: relative; }
.lightbox-content h1 { margin: 0 0 10px; font-size: 20px; }
.lightbox .media img, .lightbox .media iframe { max-height: 50%; border: 10px solid black; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.lightbox .meta { margin: 15px 0; }
.meta > span { display: block; margin-bottom: 10px; }


/**** Tiles ****/

.collectionTile { overflow: hidden; }
    .collectionTile.tease .tile, .collectionTile:hover .tile { top: -10px; }
    .collectionTile.tease .collectionInfo, .collectionTile:hover .collectionInfo { top: 130px; }
    .collectionTile.col2.tease .collectionInfo, .collectionTile.col2:hover .collectionInfo { top: 250px; }

    

    @media only screen and (min-width: 300px) {
        .collectionTile.col2.tease .tile, .collectionTile.col2:hover .tile { top: -50px; }
        .collectionTile.col2.tease .collectionInfo, .collectionTile.col2:hover .collectionInfo { top: 240px; }
    }

    .collectionTile.hover .tile, .collectionTile.col2.hover .tile { top: -100%; }
    .collectionTile.hover .collectionInfo, .collectionTile.col2.hover .collectionInfo { top: 0; }

    /*.collectionTile.col4.img.hover .tile { top: 0; }
    .collectionTile.col4.img.hover .collectionInfo { top: 100%; }*/

.collectionTile, .tile, .collectionInfo { width: 100%; height: 100%; }
.collectionContainer { position: relative; width: 100%; height: 100%; }
.tile, .collectionInfo { -webkit-transition: 0.5s; -moz-transition: 0.5s; transition: 0.5s; position: absolute; top: 0; left: 0; }
.tile { background: rgba(19, 20, 21, 1); cursor: pointer; color: #969696; }
.videoTile.withText .tile { font-weight: bold; font-size: 22px; line-height: 1.4; color: white; padding-right: 60px !important; }
.collectionInfo { top: 100%; background: rgba(0, 173, 226, 1); }
.collectionInfo > span { display: block; margin-bottom: 10px; }
.box > i { display: none; width: 50px; height: 50px; position: absolute; top: 0; right: 0; opacity: 0.8; cursor: pointer; }
.videoTile > i { display: block; background: url(../img/icon.video.png) no-repeat right bottom; }


/**** Masonry ****/

#container { /*margin: 0 auto;*/ background: white; padding: 5px; clear: both; /*-webkit-box-shadow: 0 0 25px #000; -moz-box-shadow: 0 0 25px #000; box-shadow: 0 0 25px #000;*/ }
.box { margin: 5px; font-size: 11px; line-height: 1.4em; float: left; text-align: left; }
.box .tile, .box .collectionInfo { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; overflow: hidden; }
.box.imgTile .tile, .box.videoTile .tile { padding: 0; }
.box.withText .tile { padding: 10px; }
.box .collectionInfo { font-weight: bold; font-size: 14px; line-height: 1.4; }
.box > a { display: block; width: 100%; height: 100%; color: #000; text-decoration: none; }
.box p { margin: 0; }
.box img { display: block; max-width: 100%; }
.rtl .box { float: right; text-align: right; direction: rtl; }
.col1, .col2, .col3 { width: 140px; height: 140px; }
@media only screen and (min-width: 310px) {
    .col3 { width: 290px; height: 140px; }
}
@media only screen and (min-width: 460px) {
    .col2 { width: 290px; height: 290px; }
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/**** Page stuff ****/

.twitter-share-button { margin-bottom: 10px; }

@media only screen and (min-width: 310px) {
    #shell { width: 310px; }
}

@media only screen and (min-width: 460px) {
    #shell { width: 460px; }
    .meta > span { display: inline-block; margin-bottom: 0; }
}

@media only screen and (min-width: 610px) {
    #shell { width: 610px; }
}

@media only screen and (min-width: 910px) {

    #shell { width: 910px; }
    #content { float: left; width: 610px; }

    header[role="banner"] .navi { display: none; }
    
    nav[role="sitenav"] { background: none; width: auto; position: fixed; top: 0; left: inherit; right: 0; z-index: 9999; float: right; }
    nav[role="sitenav"] ul{ float: right; }
    nav[role="sitenav"] ul li { float: left; }

    .lightbox-content h1 { font-size: 26px; }
    .lightbox-content > div { padding: 87px 40px 40px; }

    #shell > aside { display: block; }

}

@media only screen and (min-width: 1210px) {
    #shell { width: 1210px; }
    #content { width: 910px ; }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 150%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }